<widget xmlns="http://www.w3.org/ns/widgets" version="1.2">
  <name>Who is the lucky winner?</name>
  <icon src="imgs/question_dice.jpg" />
  <author email="chr.montgomery@gmail.com">Chris Montgomery</author>
  <description>This widget allows the user to create groups of names (people, food groups, etc) and then get a random entry from a given group. The browser will store your created groups across sessions.</description>
  <content src="winner.html" />
</widget>